body, html {
    position: relative;
    min-height: 100%;
  }

  body {
    min-height: 100vh;
  }

  #overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, .8);
    display: none;
  }
    #overlay img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  #app {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .tools {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    background-color: rgba(0, 0, 0, .5);
    padding: 30px 30px 50px 30px;
    z-index: 10;
    color: #fff;
  }

  #mapbox {
    width: 100%;
    height: 100%;
  }