body, html {
    position: relative;
    min-height: 100%;
  }

  .information_title {
      margin-top: 20px;
      display: block;
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: bold;
  }

  #marker_info_table {
      border-collapse: separate;
  }

   .description_marker {
      margin-top: 5px;
   }

button#reset {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 50px;
}

  body {
    min-height: 100vh;
  }

  #overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, .8);
    display: none;
  }
    #overlay img {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #overlay #overlay-text {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    #overlay #overlay-text p {
      padding: 0;
      margin: 0;
    }


    #app {
      height: 100%;
      position: absolute;
      left: 0px;
      right: 0;
      bottom: 0;
      top: 0;
    }

  .tools {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width:70%;
    height: 140px;
    background-color: rgba(0, 0, 0, .5);

    padding: 60px 30px 50px 30px;
    z-index: 10;
    color: #fff;
  }

  #mapbox {
      position:absolute;
      top:0px;
      bottom:0;
      width:70%;
      left:0px;
 }

  #info {
      position:absolute;
      padding-right: 1em;
      top:0px;
      bottom:0;
      width:28%;
      margin: 1em 72%;
      overflow-y: scroll;
  }


  @media screen and (max-width: 768px) {
   #mapbox {
    height:50%;
    width:100%;
  }
  #info {
    padding-top: 1em;
    margin: 5%;
    top: 55%;
    height: 50%;
    width: 95%;
  }

}
