section#panel-1 {

}

  section#panel-2 div.legends {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

    section#panel-2 div.legends div.legend {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px 0;
    }

      section#panel-2 div.legends div.legend p {
        margin: 0;
        padding: 0 0 0 10px;
      }
